/*=================================
BSS YOUTUBE DOWNLOADER
UX/UI  Design
====================================*/

/* --yt.css--*/
:root {
    /* primary colours */
    --primary: #ff0000;
    --primary-dark: #cc0000;
    --primary-light: #ff3333;

    
}